body{
    background-color: #b8d4c9;
}

.title{
    color: #cf0632;
    font-family: "Crafty Girls", cursive;
    font-size: 50px;
    text-align: center;
}

.link{
    background-color: #e26580;
    padding: 10px 3px;
    color: #cae4eb;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    color: #3fa0ba;
}

.charliePhotos {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 20px;
    background-color: #d1d1d1;
}
  
.charliePhotos img {
   padding: 10px;
}

.paragraph{
    color: #b721bf;
    font-family: "Crafty Girls", cursive;
    font-size: 20px;
    text-align: center;
}

.otherPeople {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 20px;
    background-color: #d1d1d1;
}

.otherPeople img{
    padding: 10px;
}

.snoopyPics {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 20px;
    background-color: #d1d1d1;
}
  
.snoopyPics img {
   padding: 10px;
}

.gif{
    width: 49%;
    display: inline-block;
}

.listed{
    color: #b721bf;
    font-family: "Crafty Girls", cursive;
    font-size: 20px;
}